<%= form_with model: post, id: dom_id(post, "form") do |form| %>
  <div class="mb-3">
    <%= form.label :título, class: "form-label" %><br>
    <%= form.text_field :title, class: "form-control" %>
    <% @post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :cuerpo, class: "form-label" %><br>
    <%= form.text_area :body, class: "form-control" %>
    <% @post.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div style="margin-top: 20px">
    <%= form.submit :Publicar %>
  </div>
<% end %>