<%= turbo_frame_tag "post" do %>
  <main class="container-xxl">
    <div class="row">
      <div class="col-md-12">
        <h3><%= @post.title %></h3>
        <div id="posts">
          <article class="blog-post">
            <div class="post-header">
              <p class="post-meta"><%= @post.created_at %></p>
              <div class="post-actions">
                <%= link_to "Edit", edit_post_path(@post) %>
                <%= link_to "Back", posts_path, "data-turbo-frame": "_top" %>
                <%= link_to "Destroy", post_path(@post), "data-turbo-frame": "_top", data: {
                                turbo_method: :delete,
                                turbo_confirm: "Desea eliminar este post?"
                              } %>
              </div>
            </div>
            <p><%= @post.body %></p>
            <div class="post-footer">
              <span>Categoría: <a href="/categories/<%= @post.category_name %>" data-turbo-frame="_top"><%= @post.category_name %></a></span>
              <div class="tags">
              Tags:
                <% @post.tags.each do |tag| %>
                  <span><a href="/tags/<%= tag %>" data-turbo-frame="_top"><%= tag %></a></span>
                <% end %>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </main>
<% end %>
